body {
	background-color: #222930;
	color: #E9E9E9;
}
h1, h2, h3 {
	color: #4EB1BA;
}

.content * {
	display: table;
	margin: 0 auto;
}
.content i { 
	display: inline; 
}

.table {
	margin: 0 auto;
	text-align: left;
	min-width: 200px;
	border-style: groove;
}
.table td {
	display: table-cell;
}
.table tr {
	display: table-row;
}

.desc {
	min-height: 100px;
	text-align: center;
}