body {
   margin: 0;
   padding: 0;
   height: 100%;
   background-image:url('images/white_wall_hash.png');
}

.container{
	margin-top: 15px;
}

.desc {
	min-height: 100px;
}

div .message {
	text-align: center;
	min-height: 20px;
}

.error {
	color: red;
}

.license {
	opacity: 0.5;
	font-size: x-small;
	text-align: center;
	height: 60px;
	padding-top: 20px;	
	bottom: 0;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1080px) {
	.license {
		position: relative;
		padding-top: 50px;
		bottom: auto;
	}
}

@media (max-width: 500px), (min-width: 768px) and (max-width: 979px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { border: none; }
	tr:nth-of-type(1) { border-bottom: 1px solid; }
	td {
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px;
		white-space: nowrap;
		font-style: italic;
		font-weight: bold;
	}
	td:nth-of-type(1):before { content: "Chamber"; }
	td:nth-of-type(2):before { content: "Party"; }
	td:nth-of-type(3):before { content: "Name"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "Vote"; }
}